<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elite_Komut_Sistemi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Bu bölüm My.Application.Log için günlük yapılandırmasını tanımlar -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uygulama Olay Günlüğüne yazmak için alttaki bölümün açıklamasını kaldırın ve APPLICATION_NAME'ı uygulamanızın adı ile değiştirin -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Elite_Komut_Sistemi.My.MySettings>
            <setting name="tus1s" serializeAs="String">
                <value />
            </setting>
            <setting name="ses1konum" serializeAs="String">
                <value />
            </setting>
            <setting name="combobox1" serializeAs="String">
                <value />
            </setting>
            <setting name="combobox2" serializeAs="String">
                <value />
            </setting>
            <setting name="combobox3" serializeAs="String">
                <value />
            </setting>
            <setting name="combobox4" serializeAs="String">
                <value />
            </setting>
            <setting name="ses2k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses3k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses4k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses5k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses6k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses7k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses8k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses9k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses10k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses11k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses12k" serializeAs="String">
                <value />
            </setting>
            <setting name="ses13k" serializeAs="String">
                <value />
            </setting>
            <setting name="tus2s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus3s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus4s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus5s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus6s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus7s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus8s" serializeAs="String">
                <value />
            </setting>
            <setting name="tus9s" serializeAs="String">
                <value />
            </setting>
            <setting name="ed5" serializeAs="String">
                <value />
            </setting>
            <setting name="ed6" serializeAs="String">
                <value />
            </setting>
            <setting name="ed7" serializeAs="String">
                <value />
            </setting>
            <setting name="ed8" serializeAs="String">
                <value />
            </setting>
            <setting name="ed9" serializeAs="String">
                <value />
            </setting>
            <setting name="ed0" serializeAs="String">
                <value />
            </setting>
            <setting name="eddengeli" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmakonum1" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmakonum2" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmakonum3" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmasure1" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmasure2" serializeAs="String">
                <value />
            </setting>
            <setting name="konusmasure3" serializeAs="String">
                <value />
            </setting>
            <setting name="ayarlar" serializeAs="String">
                <value />
            </setting>
        </Elite_Komut_Sistemi.My.MySettings>
    </userSettings>
</configuration>
